extends ../layouts/_layout.pug

include ../layouts/login.pug
include ../layouts/editor.pug

block nav
    a(href="/src/index.pug")
        li Attendee
    a(href="/src/maintainer/index.pug")
        li Maintainer

block content
    +login("Chaperone")
    +editor()
