extends layouts/_layout.pug

include layouts/login.pug
include layouts/settings.pug

block nav
    a(href="/src/index.pug")
        li Attendee
    a(href="/src/admin.pug")
        li Admin

block content
    +login(false, "chaperone")
    +settings()

    script(src="/src/chaperone.ts" type="module") 
