body {
    font-size: 16px;
}
ol {
    padding: 0;
}

main {
    width: 95%;
    margin: auto;
    text-align: center;
    list-style-position: inside;
}

header, footer {
    text-align: center;
}

.black-text {
    color: black;
}

.hide {
    display: none;
}

.reveal {
    display: initial;
    opacity: 0;
    
}



.loading {
    > * {
        display: none;
    }
    #loading {
        display: initial;
        font-size: 2em;
    }
}


.current-slogan {
    font-size: 1.5em;
    font-weight: bold;
}

#slogans ol, #editor-current-slogan ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
    > * {
        width: 100%;
        height: 5rem;
        line-height: 4.5rem;

        $border: 1px groove rgb(221, 221, 221);
        border-top: $border;
        border-bottom: $border;
    }
}

#logout {
    display: none;
}
