extends layouts/_layout.pug

include layouts/login.pug

block nav
    a(href="/src/chaperone.pug")
        li Chaperone

block content
    +login("Attendee")

    script(src="/src/index.ts" type="module")