//- Base HTML that is used on every page
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        -
            // Based on https://web.dev/articles/strict-csp#structure
            let csp = "base-uri 'none'";
            csp += "; default-src 'none'"
            csp += "; connect-src " + env.POCKETBASE_URL
            csp += "; style-src 'self'";
            csp += "; style-src-attr 'unsafe-inline'"; // TODO: remove
            csp += "; img-src 'self'";
            csp += " data: w3.org/svg/2000"  // Allow inline SVG https://stackoverflow.com/a/71570527
        
        meta(http-equiv="Content-Security-Policy" content=csp)
        
        title Protest Communicator
        - const description = "Coordinate slogans, when to move, and communicate the needs of your group in real time during a protest";

        meta(name="description", content=description)

        meta(property="og:title" content="Protest Communicator")
        meta(property="og:description" content=description)
        meta(property="og:type" content="website")
        meta(property="og:url" content=env.HOST)
        meta(property="og:image" content="assets/antifa.png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="400")
        meta(property="og:image:alt" content="The logo for Antifa Antwerp. A black flag in front of a red flag in a black circle, with white text on top saying Antifa, and white text on the bottom saying Antwerp")

        link(rel="stylesheet", href="/node_modules/@picocss/pico/css/pico.min.css")
        link(rel="stylesheet", href="/node_modules/notyf/notyf.min.css")
        link(rel="stylesheet", href="/src/index.scss")
        
        script(src="~/node_modules/jquery/dist/jquery.min.js") 
        
    
    body
        header
            h1 Protest Communicator

        main.loading
            p(aria-busy="true")#loading Loading...
            
            block content
    
            section#slogans
                h2 Slogans
                ol
        
        footer
            details
                summary &gt; View other pages &lt;
                nav
                    ul
                        block nav
                        a(href="https://github.com/Antifantwerp/protest-comms")
                            li Source code
                        a(href="/src/logout.pug")#logout
                            li Logout

