//- Base HTML that is used on every page
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/node_modules/@picocss/pico/css/pico.min.css")
        link(rel="stylesheet", href="/node_modules/notyf/notyf.min.css")
        link(rel="stylesheet", href="/src/index.scss")
        script(src="~/node_modules/jquery/dist/jquery.min.js") 
    body
        header
            h1 Protest Communicator

        main.loading
            p#loading Loading...

            section#slogans
                h2 Slogans
                ol
            
            block content
        
        footer
            details
                summary &gt; Click here to login/logout &lt;
                nav
                    ul
                        block nav
                        a(href="/src/logout.pug")
                            li Logout

