//- Base HTML that is used on every page
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/node_modules/@picocss/pico/css/pico.min.css")
        link(rel="stylesheet", href="/src/index.scss")
        script(src="~/node_modules/jquery/dist/jquery.min.js") 
    body
        header
            h1 Protest Communicator
            nav
                ul
                    block nav

        main.loading
            p#loading Loading...

            section#slogans
                h2 Slogans
                ul
            
            block content


        script(src="/src/index.ts" type="module") 