//- Login form
mixin login(username)
    form#loginForm
        if username
            h2 #{username} login
            input(id="username" name="username" value=username.toLowerCase() style="display:none;")
            label(for="password") Enter PIN:

        else
            h2 Login
            input(id="username" name="username" placeholder="username/user@example.com")
            label(for="password") Enter password:

        input(id="password" name="password" type="password" placeholder="12345")

        input(type="checkbox" name="try-admin-login" id="try-admin-login" style="display:none;" checked=!Boolean(username))
        input(type="submit" value="Login" id="login")
