//- Login form
mixin login(role)
    form#loginForm
        h2 #{role} login

        label(for="password") Enter PIN:
        input(id="password" name="password" placeholder="12345")
        input(type="submit" value="Login" id="login")

    script.
        const username = "!{role.toLowerCase()}";
