mixin settings()
    section#settings
        h2 Settings
        form#send-signal


        fieldset
            legend Slogans
            input(type="button" value="Add slogan")#add-slogan
            input(type="button" value="Edit slogans")#edit-slogans
            
