mixin settings()
    section#settings
        h2 Settings
        form#send-signal


        fieldset#edit-slogans
            legend Slogans
            input(type="button" value="Add slogan")#add-slogan
            
