extends ../layouts/_layout.pug

include ../layouts/login.pug
include ../layouts/settings.pug

block nav
    a(href="/src/index.pug")
        li Attendee
    a(href="/src/chaperone/index.pug")
        li Chaperone

block content
    +login()
    +settings()


    section#admin-settings
        h2 Admin Settings
        form
            input(type="checkbox" name="require-login" id="require-login")
            label(for="require-login") Require PIN for viewing slogans
            //input(type=)
